.footer {
    width: 100%;
    height: 170px;
    background: #062f64;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
}

.socialMedia svg {
    color: white;
    margin: 0 15px;
    font-size: 30px;
    cursor: pointer;
}

.footer p {
    text-align: center;
    color: white;
}

@media only screen and (max-width: 600px) {
    .footer svg {
        font-size: 35px;
    }
}