@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Chivo:wght@500&display=swap');

.navbar {
    width: 100%;
    height: 70px;
    background-color:#062f64;
    font-family: Alkatra;
}

.nav_elements {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
}
.links {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.languages {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.languages img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.links a {
    color: white;
    text-decoration: none;
    margin: 20px;
    font-size: 23px;
}

.toggleButton {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggleButton svg {
    font-size: 50px;
}

.toggleButton button {
    margin-right: 20px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#open {
    height: 100vh;
}
#open .nav_elements {
    flex-direction: column;
}
#open .links {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
}

#open .languages {
    flex-direction: column;
}

#open img {
    width: 50px;
    height: 50px;
}

#open a {
    width: 100%;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .links a {
        width: 70px;
    }
}

@media only screen and (max-width: 600px) {
    .toggleButton {
        display: flex;
    }

    #close a, #close img {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .toggleButton {
        display: none;
    }

    .hiddenLinks {
        display: none;
    }

    #open {
        height: 70px;
    }

    #open .nav_elements, #open .links, #open .languages {
        flex-direction: row;
    }
}